.App {
  text-align: center;
  background-color: #1f2029;
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  font-size: calc(10px + 2vmin);
}

p {
  color: #ffeba7;
}

.App-line {
  background-color: rgb(47, 59, 65);
  color: #ffeba7;
}

.change-dom {
  display: flex;
  justify-content: center;
}